In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
confirmed = pd.read_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\confirmed.csv",index_col=0)
deaths = pd.read_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\deaths.csv",index_col=0)
recovered = pd.read_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\recovered.csv",index_col=0)

In [42]:
new_cases = confirmed.copy()

for day in range(1,len(confirmed)):
    new_cases.iloc[day] = confirmed.iloc[day] - confirmed.iloc[day-1]

In [23]:
growth_rate = confirmed.copy()

for day in range(1,len(confirmed)):
    growth_rate.iloc[day] = (new_cases.iloc[day] / confirmed.iloc[day-1] * 100)

In [46]:
print(confirmed.tail())
print(recovered.tail())
print(deaths.tail())

            Afghanistan  Albania  Algeria  Andorra  Angola  Antarctica  \
Date
2023-01-16       207993   334037   271287    47781  105095          11
2023-01-17       208009   334064   271292    47781  105095          11
2023-01-18       208034   334084   271296    47781  105095          11
2023-01-19       208062   334084   271307    47820  105095          11
2023-01-20       208084   334084   271316    47820  105095          11

            Antigua and Barbuda  Argentina  Armenia  Australia  ...  Uruguay  \
Date                                                            ...
2023-01-16                 9106   10024095   446008   11247412  ...  1029564
2023-01-17                 9106   10024095   446008   11247412  ...  1029564
2023-01-18                 9106   10024095   446008   11247412  ...  1029564
2023-01-19                 9106   10024095   446008   11265457  ...  1029564
2023-01-20                 9106   10024095   446008   11274262  ...  1029564

            Uzbekistan  Vanuatu  Venezuela   Vietnam  West Bank and Gaza  \
Date
2023-01-16      250261    12014     551024  11526167              703228
2023-01-17      250273    12014     551024  11526213              703228
2023-01-18      250307    12014     551062  11526254              703228
2023-01-19      250332    12014     551191  11526284              703228
2023-01-20      250360    12014     551191  11526301              703228

            Winter Olympics 2022  Yemen  Zambia  Zimbabwe
Date
2023-01-16                   535  11945  337303    259981
2023-01-17                   535  11945  337780    259981
2023-01-18                   535  11945  338090    259981
2023-01-19                   535  11945  338407    259981
2023-01-20                   535  11945  338656    259981

[5 rows x 201 columns]
            Afghanistan  Albania  Algeria  Andorra  Angola  Antarctica  \
Date
2023-01-16            0        0        0        0       0           0
2023-01-17            0        0        0        0       0           0
2023-01-18            0        0        0        0       0           0
2023-01-19            0        0        0        0       0           0
2023-01-20            0        0        0        0       0           0

            Antigua and Barbuda  Argentina  Armenia  Australia  ...  Uruguay  \
Date                                                            ...
2023-01-16                    0          0        0          0  ...        0
2023-01-17                    0          0        0          0  ...        0
2023-01-18                    0          0        0          0  ...        0
2023-01-19                    0          0        0          0  ...        0
2023-01-20                    0          0        0          0  ...        0

            Uzbekistan  Vanuatu  Venezuela  Vietnam  West Bank and Gaza  \
Date
2023-01-16           0        0          0        0                   0
2023-01-17           0        0          0        0                   0
2023-01-18           0        0          0        0                   0
2023-01-19           0        0          0        0                   0
2023-01-20           0        0          0        0                   0

            Winter Olympics 2022  Yemen  Zambia  Zimbabwe
Date
2023-01-16                     0      0       0         0
2023-01-17                     0      0       0         0
2023-01-18                     0      0       0         0
2023-01-19                     0      0       0         0
2023-01-20                     0      0       0         0

[5 rows x 201 columns]
            Afghanistan  Albania  Algeria  Andorra  Angola  Antarctica  \
Date
2023-01-16         7857     3596     6881      165    1930           0
2023-01-17         7859     3596     6881      165    1930           0
2023-01-18         7860     3596     6881      165    1930           0
2023-01-19         7864     3596     6881      165    1930           0
2023-01-20         7864     3596     6881      165    1930           0

            Antigua and Barbuda  Argentina  Armenia  Australia  ...  Uruguay  \
Date                                                            ...
2023-01-16                  146     130338     8717      17712  ...     7597
2023-01-17                  146     130338     8717      17712  ...     7597
2023-01-18                  146     130338     8717      17712  ...     7597
2023-01-19                  146     130338     8717      18023  ...     7597
2023-01-20                  146     130338     8717      18092  ...     7597

            Uzbekistan  Vanuatu  Venezuela  Vietnam  West Bank and Gaza  \
Date
2023-01-16        1637       14       5837    43186                5708
2023-01-17        1637       14       5837    43186                5708
2023-01-18        1637       14       5837    43186                5708
2023-01-19        1637       14       5840    43186                5708
2023-01-20        1637       14       5840    43186                5708

            Winter Olympics 2022  Yemen  Zambia  Zimbabwe
Date
2023-01-16                     0   2159    4036      5637
2023-01-17                     0   2159    4037      5637
2023-01-18                     0   2159    4037      5637
2023-01-19                     0   2159    4037      5637
2023-01-20                     0   2159    4038      5637

[5 rows x 201 columns]

In [44]:
active_cases = confirmed.copy()
active_cases = confirmed - recovered - deaths
active_cases.tail()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-16,200136,330441,264406,47616,103165,11,8960,9893757,437291,11229700,...,1021967,248624,12000,545187,11482981,697520,535,9786,333267,254344
2023-01-17,200150,330468,264411,47616,103165,11,8960,9893757,437291,11229700,...,1021967,248636,12000,545187,11483027,697520,535,9786,333743,254344
2023-01-18,200174,330488,264415,47616,103165,11,8960,9893757,437291,11229700,...,1021967,248670,12000,545225,11483068,697520,535,9786,334053,254344
2023-01-19,200198,330488,264426,47655,103165,11,8960,9893757,437291,11247434,...,1021967,248695,12000,545351,11483098,697520,535,9786,334370,254344
2023-01-20,200220,330488,264435,47655,103165,11,8960,9893757,437291,11256170,...,1021967,248723,12000,545351,11483115,697520,535,9786,334618,254344

In [37]:
growth_rate = confirmed.pct_change() * 100

In [41]:
growth_rate.tail()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-16,0.044733,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.194069,0.007175,0.000000,...,0.365955,0.049573,0.0,0.004900,0.000234,0.0,0.0,0.0,0.000000,0.0
2023-01-17,0.007693,0.008083,0.001843,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.004795,0.0,0.000000,0.000399,0.0,0.0,0.0,0.141416,0.0
2023-01-18,0.012019,0.005987,0.001474,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.013585,0.0,0.006896,0.000356,0.0,0.0,0.0,0.091776,0.0
2023-01-19,0.013459,0.000000,0.004055,0.081622,0.0,0.0,0.0,0.000000,0.000000,0.160437,...,0.000000,0.009988,0.0,0.023409,0.000260,0.0,0.0,0.0,0.093762,0.0
2023-01-20,0.010574,0.000000,0.003317,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.078159,...,0.000000,0.011185,0.0,0.000000,0.000147,0.0,0.0,0.0,0.073580,0.0

In [52]:
overall_growth_rate = active_cases.pct_change() * 100
overall_growth_rate.India[250:270]

Date
2020-09-28   -1.564863
2020-09-29   -0.752974
2020-09-30    0.028072
2020-01-10    0.160731
2020-02-10    0.294943
2020-03-10   -0.780003
2020-04-10   -0.341075
2020-05-10   -1.648497
2020-06-10   -1.212157
2020-07-10   -0.601179
2020-08-10   -0.978807
2020-09-10   -1.164625
2020-10-10   -1.776412
2020-11-10   -0.650493
2020-12-10   -2.683056
2020-10-13   -1.413210
2020-10-14   -1.751895
2020-10-15   -0.967762
2020-10-16   -1.173483
2020-10-17   -1.481096
Name: India, dtype: float64

In [54]:
death_rate = deaths *100 / confirmed
death_rate[50:70]

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-03,0.000000,4.347826,4.166667,0.000000,NaN,NaN,NaN,5.263158,0.000000,2.343750,...,NaN,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-13,0.000000,3.030303,7.692308,0.000000,NaN,NaN,0.0,6.451613,0.000000,1.500000,...,0.000000,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-14,0.000000,2.631579,8.108108,0.000000,NaN,NaN,0.0,5.882353,0.000000,1.200000,...,0.000000,NaN,NaN,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-15,0.000000,2.380952,8.333333,0.000000,NaN,NaN,0.0,4.444444,0.000000,1.010101,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-16,0.000000,1.960784,7.407407,0.000000,NaN,NaN,0.0,3.571429,0.000000,0.795756,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-17,0.000000,1.818182,6.666667,0.000000,NaN,NaN,0.0,2.941176,0.000000,1.106195,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
2020-03-18,0.000000,3.389831,9.459459,0.000000,NaN,NaN,0.0,2.531646,0.000000,1.056338,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,NaN
2020-03-19,0.000000,3.125000,10.344828,0.000000,NaN,NaN,0.0,3.092784,0.000000,0.881057,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,NaN
2020-03-20,0.000000,2.857143,12.222222,0.000000,0.000000,NaN,0.0,2.343750,0.000000,0.884956,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,0.000000
2020-03-21,0.000000,2.631579,10.791367,0.000000,0.000000,NaN,0.0,2.531646,0.000000,0.653595,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,0.000000
2020-03-22,0.000000,2.247191,8.457711,0.884956,0.000000,NaN,0.0,1.503759,0.000000,0.451904,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,0.000000
2020-03-23,2.500000,3.846154,7.391304,0.751880,0.000000,NaN,0.0,1.328904,0.000000,0.416171,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,33.333333
2020-03-24,2.380952,4.065041,7.196970,0.609756,0.000000,NaN,0.0,1.550388,0.000000,0.391389,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,33.333333
2020-03-25,1.351351,3.424658,6.953642,0.531915,0.000000,NaN,0.0,2.067183,0.000000,0.338409,...,0.000000,0.000000,NaN,0.000000,0.0,0.000000,NaN,NaN,0.0,33.333333
2020-03-26,2.500000,3.448276,6.811989,1.339286,0.000000,NaN,0.0,1.792829,0.344828,0.462633,...,0.000000,0.000000,NaN,0.000000,0.0,1.190476,NaN,NaN,0.0,33.333333
2020-03-27,2.197802,4.301075,6.356968,1.123596,0.000000,NaN,0.0,2.207131,0.303951,0.413618,...,0.000000,1.136364,NaN,0.934579,0.0,1.098901,NaN,NaN,0.0,20.000000
2020-03-28,1.886792,5.076142,6.387665,0.974026,0.000000,NaN,0.0,2.608696,0.245700,0.384615,...,0.330033,1.923077,NaN,1.680672,0.0,1.020408,NaN,NaN,0.0,14.285714
2020-03-29,3.508772,4.716981,6.066536,1.796407,28.571429,NaN,0.0,2.550336,0.707547,0.401606,...,0.323625,1.388889,NaN,1.680672,0.0,0.917431,NaN,NaN,0.0,14.285714
2020-03-30,3.508772,4.932735,5.993151,2.162162,28.571429,NaN,0.0,2.804878,0.622407,0.389819,...,0.312500,1.342282,NaN,2.222222,0.0,0.862069,NaN,NaN,0.0,14.285714
2020-03-31,2.409639,6.172840,6.145251,3.191489,28.571429,NaN,0.0,2.561670,0.563910,0.394823,...,0.295858,1.162791,NaN,2.222222,0.0,0.840336,NaN,NaN,0.0,12.500000

In [55]:
overall_growth_rate.to_csv("overall_growth_rate.csv")