In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
confirmed = pd.read_csv("Data/time_series_covid19_confirmed_global.csv")
deaths = pd.read_csv("Data/time_series_covid19_deaths_global.csv")
recovered = pd.read_csv("Data/time_series_covid19_recovered_global.csv")

In [57]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/23,1/12/23,1/13/23,1/14/23,1/15/23,1/16/23,1/17/23,1/18/23,1/19/23,1/20/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207900,207900,207900,207900,207900,207993,208009,208034,208062,208084
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333995,334018,334018,334029,334037,334037,334064,334084,334084,334084
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271268,271277,271286,271287,271287,271287,271292,271296,271307,271316
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47781,47781,47781,47781,47781,47781,47781,47781,47820,47820
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105095,105095,105095,105095,105095,105095,105095,105095,105095,105095

In [58]:
confirmed = confirmed.drop(["Province/State", "Lat", "Long"], axis=1)
deaths = deaths.drop(["Province/State", "Lat", "Long"], axis=1)
recovered = recovered.drop(["Province/State", "Lat", "Long"], axis=1)

In [59]:
confirmed

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,1/11/23,1/12/23,1/13/23,1/14/23,1/15/23,1/16/23,1/17/23,1/18/23,1/19/23,1/20/23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,207900,207900,207900,207900,207900,207993,208009,208034,208062,208084
1,Albania,0,0,0,0,0,0,0,0,0,...,333995,334018,334018,334029,334037,334037,334064,334084,334084,334084
2,Algeria,0,0,0,0,0,0,0,0,0,...,271268,271277,271286,271287,271287,271287,271292,271296,271307,271316
3,Andorra,0,0,0,0,0,0,0,0,0,...,47781,47781,47781,47781,47781,47781,47781,47781,47820,47820
4,Angola,0,0,0,0,0,0,0,0,0,...,105095,105095,105095,105095,105095,105095,105095,105095,105095,105095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,0,0,0,0,0,0,0,0,0,...,336329,336340,336955,336955,337303,337303,337780,338090,338407,338656
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,259981,259981,259981,259981,259981,259981,259981,259981,259981,259981

In [60]:
confirmed = confirmed.groupby("Country/Region").aggregate(np.sum).transpose()
deaths = deaths.groupby("Country/Region").aggregate(np.sum).transpose()
recovered = recovered.groupby("Country/Region").aggregate(np.sum).transpose()

In [61]:
confirmed.tail()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
1/16/23,207993,334037,271287,47781,105095,11,9106,10024095,446008,11247412,...,1029564,250261,12014,551024,11526167,703228,535,11945,337303,259981
1/17/23,208009,334064,271292,47781,105095,11,9106,10024095,446008,11247412,...,1029564,250273,12014,551024,11526213,703228,535,11945,337780,259981
1/18/23,208034,334084,271296,47781,105095,11,9106,10024095,446008,11247412,...,1029564,250307,12014,551062,11526254,703228,535,11945,338090,259981
1/19/23,208062,334084,271307,47820,105095,11,9106,10024095,446008,11265457,...,1029564,250332,12014,551191,11526284,703228,535,11945,338407,259981
1/20/23,208084,334084,271316,47820,105095,11,9106,10024095,446008,11274262,...,1029564,250360,12014,551191,11526301,703228,535,11945,338656,259981

In [65]:
confirmed.index = pd.to_datetime(confirmed.index,dayfirst=True)
deaths.index = pd.to_datetime(deaths.index,dayfirst=True)
recovered.index = pd.to_datetime(recovered.index,dayfirst=True)

In [66]:
deaths

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-16,7857,3596,6881,165,1930,0,146,130338,8717,17712,...,7597,1637,14,5837,43186,5708,0,2159,4036,5637
2023-01-17,7859,3596,6881,165,1930,0,146,130338,8717,17712,...,7597,1637,14,5837,43186,5708,0,2159,4037,5637
2023-01-18,7860,3596,6881,165,1930,0,146,130338,8717,17712,...,7597,1637,14,5837,43186,5708,0,2159,4037,5637
2023-01-19,7864,3596,6881,165,1930,0,146,130338,8717,18023,...,7597,1637,14,5840,43186,5708,0,2159,4037,5637
2023-01-20,7864,3596,6881,165,1930,0,146,130338,8717,18092,...,7597,1637,14,5840,43186,5708,0,2159,4038,5637

In [67]:
confirmed.to_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\confirmed.csv")
deaths.to_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\deaths.csv")
recovered.to_csv(r"D:\Projects\CoronaVirusAnalysis\FormattedData\recovered.csv")